image_version: "P0S3-8-12-00"

proxy1_address: "52.40.148.34"
proxy2_address: "pbx.freeswitch.com"
# proxy3_address: "xxx.xxx.xxx.xxx"
# proxy4_address: "xxx.xxx.xxx.xxx"
 
# Proxy Server Port
proxy1_port:"5060"
proxy2_port:"5070"
# proxy3_port:"5060"
# proxy4_port:"5060"

proxy_emergency: ""
proxy_emergency_port: "5080"
proxy_backup: ""
proxy_backup_port: "5080"
outbound_proxy: "52.40.148.34"
outbound_proxy_port: "5060"
 
nat_enable: "0"
nat_address: ""
voip_control_port: "5060"
start_media_port: "16560"
end_media_port:  "16690"
nat_received_processing: "1"
dyn_dns_addr_1: "192.168.1.254"
dyn_dns_addr_2: ""
dyn_tftp_addr: "192.168.1.104"
tftp_cfg_dir: "./"

proxy_register: "1"
timer_register_expires: "60"
preferred_codec: "g711alaw"
tos_media: "5"
enable_vad: "0"
dial_template: "dialplan"
network_media_type: "auto"
autocomplete: "1"
telnet_level: "2"

cnf_join_enable: "1"
semi_attended_transfer: "0"
call_waiting: "1"
anonymous_call_block: "0"
callerid_blocking: "0"
dnd_control: "0"

dtmf_inband: "1"
dtmf_outofband: "avt"
dtmf_db_level: "3"
dtmf_avt_payload: "101"
timer_t1: "500"
timer_t2: "4000"
sip_retx: "10"
sip_invite_retx: "6"
timer_invite_expires: "180"
 
sntp_mode: "directedbroadcast"
sntp_server: "xxx.xxx.xxx.xxx"
time_zone: "CST"
time_format_24hr: "1"
dst_offset: "1"
dst_start_month: "April"
dst_start_day: ""
dst_start_day_of_week: "Sun"
dst_start_week_of_month: "1"
dst_start_time: "2"
dst_stop_month: "Nov"
dst_stop_day: "1"
dst_stop_day_of_week: "Sunday"
dst_stop_week_of_month: ""
dst_stop_time: "2"
dst_auto_adjust: "1"
 
messages_uri: "*99"
services_url: "http://example.domain.tld/services/menu.xml"
directory_url: "http://example.domain.tld/services/directory.php"               
logo_url: "http://example.domain.tld/imagename.bmp"

http_proxy_addr: ""
http_proxy_port: 
remote_party_id: 0
