
# SIP Configuration Generic File 
 
# Line 1 appearance
line1_name: 1000 

# Line 1 Registration Authentication 
line1_authname: "1000"

# Line 1 Registration Password
line1_password: "1234"

# Line 2 appearance
line2_name: 1001

# Line 2 Registration Authentication
line2_authname: "1001"

# Line 2 Registration Password
line2_password: "1234"

# Line 3 appearance
line2_name: piotrgrgor

# Line 3 Registration Authentication
line2_authname: "piotrgregor"

# Line 3 Registration Password
line2_password: "1234"


####### New Parameters added in Release 2.0 #######

# All user_parameters have been removed

# Phone Label (Text desired to be displayed in upper right corner)
phone_label: "Peter's SIP 1"	; Has no effect on SIP messaging

# Line 1 Display Name (Display name to use for SIP messaging)
line1_displayname: "user 1000 Peter SIP 7960 FreeSWITCH"

# Line 2 Display Name (Display name to use for SIP messaging)
line2_displayname: "user 1001 Peter SIP 7960 FreeSWITCH"


####### New Parameters added in Release 3.0 ######

# Phone Prompt (The prompt that will be displayed on console and telnet)
phone_prompt:   "SIP Phone"      ; Limited to 15 characters (Default - SIP Phone) 

# Phone Password (Password to be used for console or telnet login)
phone_password: "cisco" ; Limited to 31 characters (Default - cisco)

# User classifcation used when Registering [ none(default), phone, ip ]
user_info: none 
